<li class="nav-item">
    <a class="nav-link" href="/admin">
        <i class="nav-icon fas fa-chart-bar"></i>
        <p>
            Statistics
        </p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/rewards">
        <i class="nav-icon fas fa-gift"></i>
        <p>
            Rewards
        </p>
    </a>
</li>
